body {
  font-family: Arial, sans-serif;
  background-color: #ffd6a0;
  color: #333333;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  margin-bottom: 10px;
}
span {
  font-weight: bold;
}
.btn {
  display: inline-block;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #3e8e41;
}

.section {
}

.container a {
  width: 30%;
}

@-webkit-keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

@keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}
.rainbow {
  background: white;
  display: inline-block;
  padding: 0 2rem 2rem 2rem;
  border-radius: 1rem;
  position: relative;
  margin-top: 2rem;
}
.rainbow:before {
  -webkit-animation: sparkle 4s infinite linear;
  animation: sparkle 4s infinite linear;
  background: linear-gradient(
    90deg,
    #fe8c00 0%,
    #ffd209 11%,
    #ff4800 22%,
    #fe8c00 33%,
    #ffd209 44%,
    #ff4800 55%,
    #fe8c00 66%,
    #ffd209 77%,
    #ff4800 88%,
    #fe8c00 100%
  );
  background-size: 300% 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  filter: blur(0.8rem);
  z-index: -1;
  transform: scale(0.99) translateY();
}

#rainbow_create_btn {
  padding: 0;
}


.nav {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
margin-top: 2rem;
}


/* 이미지 래퍼 */
.image-wrapper {
  position: relative;
  display: inline-block; 이미지 크기에 맞게 설정
}

/* hover 이미지를 감싸는 오버레이 */
.hover-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.hover-overlay img {
  width: 200%;
  margin-top: 5rem;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 2rem  gray;
}

/* 커서를 이미지 위에 올렸을 때 hover-overlay에 이미지가 나타나도록 */
.image-wrapper:hover .hover-overlay {
  opacity: 1; /* 페이드 인 */
}

.footer {
  display: flex;
  justify-content: space-around;
}





/* 눈 내리는 효과 */
.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}
@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
 }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
 }
}
.snowflake:nth-child(1) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 21vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(2) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 10vw;
  left: 17vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(3) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 78vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -9vw;
  left: 57vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(5) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 39vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(6) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -6vw;
  left: 60vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(7) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: -4vw;
  left: 89vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(8) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -7vw;
  left: 33vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -2s;
}
.snowflake:nth-child(9) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -4vw;
  left: 78vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(10) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 73vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(11) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: -1vw;
  left: 62vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: 1vw;
  left: 46vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(13) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 0vw;
  left: 28vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(14) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: -8vw;
  left: 96vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(15) {
  --size: 1vw;
  --left-ini: 9vw;
  --left-end: 4vw;
  left: 48vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(16) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 6vw;
  left: 42vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(17) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -5vw;
  left: 11vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -4s;
}
.snowflake:nth-child(18) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 2vw;
  left: 21vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 0vw;
  left: 66vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(20) {
  --size: 0.8vw;
  --left-ini: 7vw;
  --left-end: -5vw;
  left: 20vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}
.snowflake:nth-child(21) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -9vw;
  left: 50vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}
.snowflake:nth-child(22) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 5vw;
  left: 16vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(23) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: 5vw;
  left: 89vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -2s;
}
.snowflake:nth-child(24) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: -9vw;
  left: 36vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(25) {
  --size: 0.2vw;
  --left-ini: -6vw;
  --left-end: 0vw;
  left: 100vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(26) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 72vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(27) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: 0vw;
  left: 23vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: -5vw;
  left: 37vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(29) {
  --size: 1vw;
  --left-ini: 9vw;
  --left-end: 8vw;
  left: 61vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(30) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -1vw;
  left: 59vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(31) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: -3vw;
  left: 54vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(32) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -2vw;
  left: 82vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}
.snowflake:nth-child(33) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 4vw;
  left: 16vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}
.snowflake:nth-child(34) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: -4vw;
  left: 39vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(35) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: 6vw;
  left: 40vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(36) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: -6vw;
  left: 36vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(37) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: -6vw;
  left: 90vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(38) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: -8vw;
  left: 9vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -6s;
}
.snowflake:nth-child(39) {
  --size: 0.6vw;
  --left-ini: 5vw;
  --left-end: 3vw;
  left: 83vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(40) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 1vw;
  left: 84vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(41) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -8vw;
  left: 73vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(42) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 19vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(43) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: 4vw;
  left: 80vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(44) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: -3vw;
  left: 7vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(45) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 60vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(46) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: -9vw;
  left: 82vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(47) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: -2vw;
  left: 56vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(48) {
  --size: 0.6vw;
  --left-ini: 8vw;
  --left-end: -8vw;
  left: 11vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(49) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 8vw;
  left: 24vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(50) {
  --size: 1vw;
  --left-ini: 7vw;
  --left-end: -8vw;
  left: 69vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -3s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}